body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

<<<<<<< HEAD
.logo{
    height: 70px;
}

.mainButton{
    background-color: rgb(247, 107, 43);
    color:blanchedalmond;
=======
.button{
    color:rgb(253, 253, 253);
>>>>>>> 6-crear-boton-login
    border: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bolder;    
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton{
    background-color: rgb(247, 107, 43);
}

.mainButton:hover{
    box-shadow: 1px 1px orangered;
}

.secondaryButton{
    background-color: rgb(42, 20, 241);
    box-shadow: 1px 1px rgb(17, 6, 122);
}

.secondaryButton:hover{
    box-shadow: 3px 3px rgb(10, 17, 105);
}